# Deal with Inconsistent sheet naming

In [1]:
import openpyxl

In [2]:
import pandas as pd

In [ ]:
results = openpyxl.load_workbook('Clean_Results_macroenabled.xlsm')

In [ ]:
names = results.get_sheet_names()

In [ ]:
info = pd.DataFrame(columns=['Reliability','Alarm Type'])
reliability = ['70','80','90']
atype = ['bi','li','con']

In [ ]:
for number, name in enumerate(names,0):
    sheet = results.get_sheet_by_name(name)
    if number % 3 ==0 :
        for system in reliability:
            if name.find(system) != -1:
                info.loc[number // 3, "Reliability"] = system
                break
        for alarm in atype:
            if name.find(alarm) != -1:
                info.loc[number // 3, "Alarm Type"] = alarm
                break
        sheet.title='_'.join([str(number // 3), 'output'])
    elif number % 3 == 1:
        sheet.title = '_'.join([str(number // 3), 'trust'])
    else:
        sheet.title = '_'.join([str(number // 3), 'practice'])

In [13]:
results.save('Results_modified.xlsx')

In [16]:
info.to_csv('result_background.csv', encoding='utf-8')

# Remove useless columns

In [1]:
import xlrd
import pandas as pd

In [2]:
book = pd.ExcelFile('Results_modified.xlsx')

In [3]:
names = book.sheet_names

In [ ]:
participants = [0,2,4,7,9,10,13,15,17,20,22,24,27,29,31,34,36,38,41,43,45,48,50,52,55,57,59,62,
                64,66,69,71,72,74,76,77,79,82,86,88]

In [ ]:
for participant in participants:
    filename = 'cleaned_' + str(participant) + '.csv'
    fullname = '/home/wangmk/UM/Research/SURE/cleaned_data/' + filename
    sheet = book.parse(names[3*participant])
    outcome = sheet.iloc[:,[4,6,8,12,15,16,17]]
    outcome.to_csv(fullname)

In [4]:
sheet = book.parse(names[0])

In [7]:
sheet.iloc[10:20,4:18]

,True_state,Unnamed: 5,Alert,SDT,Identification,Correctness,If_out_of_time,Detection_time,First_toggle_time,Detection_score,Tracking_score,RMS,Attention,Click
10,False,-1,CLEAR,CC-dark green,False,Correct,False,0,2914,5.0000,0,68.736136,0.855721,4
11,True,1,CLEAR,MISS-dark green,True,Correct,False,5362,3509,2.3190,1,66.012574,0.854271,2
12,False,-1,CLEAR,CC-dark green,False,Correct,False,0,1917,5.0000,7,30.093402,0.909548,2
13,True,2,CLEAR,MISS-dark green,True,Correct,False,4075,2983,2.9625,2,57.359314,0.935000,2
14,True,3,CLEAR,MISS-dark green,True,Correct,False,6855,1769,1.5725,3,51.784926,0.798995,4
15,True,3,CLEAR,MISS-dark green,True,Correct,False,3104,1615,3.4480,0,72.571688,0.885000,2
16,True,3,CLEAR,MISS-dark green,True,Correct,False,5143,4148,2.4285,2,57.677892,0.924623,2
17,False,-1,CLEAR,CC-dark green,False,Correct,False,0,2151,5.0000,4,51.127650,0.940299,2
18,False,-1,CLEAR,CC-dark green,False,Correct,False,0,2591,5.0000,3,55.526615,0.905000,2
19,False,-1,CLEAR,CC-dark green,False,Correct,False,0,2421,5.0000,6,35.168889,0.904523,2

In [8]:
sheet2 = book.parse(names[1])

In [11]:
sheet2.head(15)

   2016-05-26 00:00:00  Confidence  Perceived reliability  Trust
0                    1        50.0                   70.0   50.0
1                    2        50.0                   70.0   50.0
2                    3        30.0                   51.0   50.0
3                    4        50.0                   51.0   50.0
4                    5        60.0                   51.0   50.0
5                    6        60.0                   51.0   50.0
6                    7        60.0                   38.0   30.0
7                    8        60.0                   38.0   30.0
8                    9        60.0                   38.0   30.0
9                   10        71.0                   38.0   30.0
10                  11        71.0                   51.0   30.0
11                  12        71.0                   29.0   30.0
12                  13        77.0                   29.0   30.0
13                  14        77.0                   29.0   30.0
14                  15        82.0                   29.0   30.0